<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="razerdp.library">

    <application>
        <provider
            android:name="razerdp.basepopup.BasePopupRuntimeTrojanProvider"
            android:authorities="${applicationId}.basepopup-trojan"
            android:exported="false"
            android:multiprocess="false" />
    </application>
</manifest>
