<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="razerdp.library">

    <application>
        <provider
            android:name="razerdp.basepopup.BasePopupInitializer"
            android:authorities="com.github.razerdp.${applicationId}.BasePopupInitializer"
            android:exported="false"
            android:multiprocess="true" />
    </application>
</manifest>
